@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
 

  
 
.space-grotesk-uniquifier{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.space-grotesk-uniquifier-bold{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bona-nova-sc-regular-400 {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
  } 

  .bona-nova-sc-regular-500 {
    font-family: "Bona Nova", serif;
    font-weight: 500;
    font-style: normal;
  } 
   
  .bona-nova-sc-regular-300 {
    font-family: "Bona Nova", serif;
    font-weight: 300;
    font-style: normal;
  } 
   
  
  
  .bona-nova-sc-regular-italic {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: italic;
  }

  .bona-nova-sc-bold {
    font-family: "Bona Nova", serif;
    font-weight: 600;
    font-style: normal;
  }
  




/* Tailwind CSS Custom Styles for Feed Component */
.dot {
  @apply w-2 h-2 bg-white rounded-full mb-1;
}

.button {
  @apply bg-white text-gray-800 py-1 px-2 rounded hover:bg-gray-300 transition duration-200;
}

.overlay {
  @apply absolute inset-0 bg-gray-800 bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-between p-4;
}
